<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context
	   https://www.springframework.org/schema/context/spring-context.xsd"
	   default-lazy-init="false">


	<context:property-placeholder location="classpath:dbconfig.properties"/>

	<!-- mybatis 转交给 spring 来管理-->

	<!-- 数据源配置 阿里巴巴连接池-->
	<bean id="myDataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>

	<!-- SqlSessionFactoryBean -->
	<bean id="mySqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="myDataSource" />
		<!-- 配置全局xml -->
		<property name="configLocation" value="mybatis-config.xml"/>
		<!-- 配置局部xml -->
		<property name="mapperLocations" value="mapper/Foo.xml"/>
		<property name="typeAliasesPackage" value="com.goat.chapter650.model"/>
	</bean>

	<!--【MapperScannerConfigurer 包扫描 方式一 】 -->
	<!-- 配置自动扫描所有Mapper接口 -->
	<bean id="mapperScan" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.goat.chapter650.dao" />
	</bean>
</beans>