<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- 真正的加载顺序为：context-param -> listener -> filter -> servlet -> Interceptor -> Controller	-->

	<display-name>web-app display-name</display-name>
	<description>web-app-description</description>

	<!-- 声明全局应用范围内的初始化参数 (任何servlet都可以访问的全局变量)-->
	<context-param>
		<param-name>encoding</param-name>
		<param-value>utf-8</param-value>
	</context-param>

	<context-param>
		<param-name>driver2</param-name>
		<param-value>context-param-driver2</param-value>
	</context-param>


	<!-- Servlet 监听器配置  实际调用顺序 ServletContextListener -> ServletRequestListener -> HttpSessionListener-->
	<listener>
		<listener-class>com.goat.chapter505.listener.MyHttpSessionListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.goat.chapter505.listener.MyServletRequestListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.goat.chapter505.listener.MyServletContextListener</listener-class>
	</listener>


	<!-- Servlet 配置  Servlet程序若想被外界访问，就必须将自己映射到一个url地址上(url-pattern)-->
	<servlet>
		<servlet-name>myServlet</servlet-name>
		<servlet-class>com.goat.chapter505.servlet.MyServlet</servlet-class>
	</servlet>

	<servlet-mapping> <!--sos url区分大小写！！！http://localhost:8080/servlet/Servlet2 即可断下-->
		<servlet-name>myServlet</servlet-name>
		<url-pattern>/servlet1</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>myServletContextParam</servlet-name>
		<servlet-class>com.goat.chapter505.servlet.MyServletContextParam</servlet-class>
		<!--配置servlet初始化 参数  (仅属于该servlet的局部变量)-->
		<init-param>
			<param-name>encoding</param-name>
			<param-value>GBK</param-value>
		</init-param>
		<init-param>
			<param-name>author</param-name>
			<param-value>Goat</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>myServletContextParam</servlet-name>
		<url-pattern>/servlet2</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>myServletContext</servlet-name>
		<servlet-class>com.goat.chapter505.servlet.MyServletContext</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>myServletContext</servlet-name>
		<url-pattern>/servlet3</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Session_1</servlet-name>
		<servlet-class>com.goat.chapter505.servlet.MyServletSession1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Session_1</servlet-name>
		<url-pattern>/Session_1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Session_2</servlet-name>
		<servlet-class>com.goat.chapter505.servlet.MyServletSession2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Session_2</servlet-name>
		<url-pattern>/Session_2</url-pattern>
	</servlet-mapping>

</web-app>
