<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "https://www.springframework.org/dtd/spring-beans-2.0.dtd">



<beans>
	<!--报错内容：SAXParseException; lineNumber: 9; columnNumber: 80; 类型为 ID 的属性值 "testId" 在文档内必须是唯一的-->
	<!--<bean id="testId" class="com.goat.chapter200.item01.CompactDiscImpl" />-->
	<!--<bean id="testId" class="com.goat.chapter200.item01.CompactDiscImpl" />-->


	<!--报错内容：Configuration problem: Bean name 'testId' is already used in this <beans> element-->
	<!--<bean name="testId" class="com.goat.chapter200.item01.CompactDiscImpl" />-->
	<!--<bean name="testId" class="com.goat.chapter200.item01.CompactDiscImpl" />-->


	<!--报错内容：SAXParseException; lineNumber: 9; columnNumber: 80; 类型为 ID 的属性值 "testId" 在文档内必须是唯一的-->
	<!--<bean id="testId" name="haha" class="com.goat.chapter200.item01.CompactDiscImpl" />-->
	<!--<bean id="testId" name="gaga" class="com.goat.chapter200.item01.CompactDiscImpl" />-->


	<bean id="bar" name="haha" class="com.goat.chapter200.item01.CompactDiscImpl" />
	<bean id="foo" name="gaga" class="com.goat.chapter200.item01.CompactDiscImpl" />

</beans>
